body {
    margin: 0px;
    padding: 0px;
    background-color: #455E5E;
}
    
header {
    font-family: 'Montserrat', sans-serif;
    background-color: #1A2323;
    padding-top: 3px;
    padding-bottom: 10px;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

header a.logo {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}

ul.nav-bar {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

ul.nav-bar li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    text-align: center;
}

header a.logo {
    color: rgb(85, 85, 78);
}

ul.nav-bar li :hover{
    padding: 20px;
    border: 3px solid #B1B9B9;
    border-radius: 50%;
    transition: .5s;
}

ul.nav-bar li a {
    color: rgb(182, 173, 173);
    text-transform: uppercase;
}

.burger {
    padding: 10px 10px 10px 10px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and ( max-width: 852px) {
    .body {
        display: none;
    }
}


/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.main-container {
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #343C3C;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Raleway', sans-serif;
    color: #B1B9B9;
}


.form input[type=text]
{
    width: 85vh;
    height: 50vh;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.settings {
    display: grid;
    grid-template-columns: 18% 20%;
    grid-row-gap: 10px;
}


textarea {
    resize: none;
    width: 100%;
    height: auto;
    min-height: 300px;
}


.line {
    width: auto;
    margin-top: 5%;
    border-bottom: 4px solid red;
    position: inherit;
}


.paste-obj {
    background-color: blueviolet;
    border: 5px solid burlywood;
    width: 15vh;
    display: inline-block;
    margin-bottom: 5px;
}











































