body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 27, 25);
}
    
header {
    background-color: rgb(27, 23, 23);
    padding-top: 10px;
    padding-bottom: 20px;
}

ul.nav-bar {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

ul.nav-bar li {
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    border: 2px solid green;
    text-align: center;
}

ul.nav-bar .nav-left-items li a.active {
    color: rgb(85, 85, 78);
}

ul.nav-bar li :hover{
    color: rgb(85, 85, 78);
}

ul.nav-bar li a {
    text-decoration: none;
    color: rgb(182, 173, 173);
}

.nav-left-items {
    margin-left: 15%;
    display: flex;
}

.nav-right-items {
    margin-right: 15%;
    display: flex;
}


.main-container {
    margin-left: 15%;
    margin-right: 15%;
    background-color: teal;
    padding-left: 30px;
    padding-right: 30px;
}


.form input[type=text]
{
    width: 85vh;
    height: 50vh;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.settings {
    display: grid;
    grid-template-columns: 18% 20%;
    grid-row-gap: 10px;
}


textarea {
    resize: none;
    width: 100%;
    height: auto;
    min-height: 300px;
}


.line {
    width: auto;
    margin-top: 5%;
    border-bottom: 4px solid red;
    position: inherit;
}


.paste-obj {
    background-color: blueviolet;
    border: 5px solid burlywood;
    width: 15vh;
    display: inline-block;
    margin-bottom: 5px;
}











































