@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection{
  background: rgb(0,123,255,0.3);
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}

.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list li::after {
  content: ' '; 
  width: 0%; 
  height: 2px; 
  background:white; 
  display: block; 
  margin: auto; 
  transition: 0.5s; 
  transform: translateX(10px);
}

.menu-list li:hover::after {
  width: 70%;
}

body > nav > div > ul > li:nth-child(1):hover::after {
  width: 0px;
}



.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.banner {
  background: url("../resources/background.jpg") no-repeat;
  height: 15vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about .title {
  font-size: 38px;
  font-weight: 700;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}

@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}

@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  
  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222222;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

.source{
  background: linear-gradient(0deg, rgba(22,27,55,1) 0%, rgba(0,0,0,1) 100%);
}

.main-container {
  min-width: 500px;
  margin-left: 8%; 
  margin-right: 8%;
  background-color: #363946;
  padding-left: 30px;
  padding-right: 30px;
}

.form input[type=text] {
  width: 85vh;
  height: 50vh;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.settings {
  display: grid;
  grid-template-columns: 20% 28%;
  grid-row-gap: 10px;
}

#submit {
  grid-column: span 1;
}

label {
  font-weight: bold;
}

textarea {
  font-size: 20px;
  resize: none;
  width: 100%;
  height: auto;
  min-height: 300px;
  max-height: 300px;
  border: #222 solid 3px;
  transition-duration: 2s;
}

textarea:focus {
  height: 600px; 
  max-height: 600px;
  transform: translateY(10px);
  transition: max-height 0.60s ease-in-out;
} 

textarea:focus::after {
  min-height: 300px;
  transition: 2s;
}

table {
  width: 100%;
  border-collapse: collapse ;
}

td,th {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color:#565C65;
}

.line {
  width: auto;
  margin-top: 7px;
  margin-bottom: 10px;
  border-bottom: 4px solid black;
  position: inherit;  
  height: 0px;
}

.my-pastes {
  margin-top: 10px;
}
.public-pastes {
  margin-top: 10px;
}

.paste-obj {
  background-color: rgb(114, 111, 117);
  border: 5px solid burlywood;
  width: 400px;
  display: inline-block;
  margin-bottom: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 31px;
  background-color: black;
  color: white;
  text-align: center;
  display : flex ;
  justify-content: space-around;
}

.footer p {
  margin-top: 5px;
}

body::after{
  content: "\n";
}
