body {
    margin: 0px;
    padding: 0px;
    background-image: url("../resources/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    text-align: center;
    color: white;
}