body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 27, 25);
}
    
header {
    background-color: rgb(27, 23, 23);
    padding-top: 10px;
    padding-bottom: 20px;
}

ul.nav-bar {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

ul.nav-bar li {
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    border: 2px solid green;
    text-align: center;
}

ul.nav-bar .nav-right-items li a.active {
    color: rgb(85, 85, 78);
}

ul.nav-bar li :hover{
    color: rgb(85, 85, 78);
}

ul.nav-bar li a {
    text-decoration: none;
    color: rgb(182, 173, 173);
}

.nav-left-items {
    margin-left: 15%;
    display: flex;
}

.nav-right-items {
    margin-right: 15%;
    display: flex;
}


.form input[type=text]
{
    width: 85vh;
    height: 50vh;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vh;
      
}
.login-form {
    padding: 10vh;
    font-size: 25px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 5px solid rebeccapurple;
    background-color: rgb(87, 87, 85);
    border-radius: 3%;
}
input {
    margin-top: 10px;
    font-size: 25px;
}













































