
h1{
  padding-top: 10px;
  text-align: center;
}

.source{
    background: linear-gradient(0deg, rgba(22,27,55,1) 0%, rgba(0,0,0,1) 100%);
  }
  
  .main-container {
    min-height: 100vh;
    min-width: 500px;
    margin-left: 8%; 
    margin-right: 8%;
    background-color: #363946;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .form input[type=text] {
    width: 85vh;
    height: 50vh;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .settings {
    display: grid;
    grid-template-columns: 20% 28%;
    grid-row-gap: 10px;
  }
  
  #submit {
    grid-column: span 1;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    font-size: 20px;
    resize: none;
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
    border: #222 solid 3px;
    transition-duration: 2s;
  }
  
  textarea:focus {
    height: 600px; 
    max-height: 600px;
    transform: translateY(10px);
    transition: max-height 0.60s ease-in-out;
  } 
  
  textarea:focus::after {
    min-height: 300px;
    transition: 2s;
  }
  
  table {
    width: 100%;
    border-collapse: collapse ;
  }
  
  td,th {
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color:#565C65;
  }
  
  .line {
    width: auto;
    margin-top: 7px;
    margin-bottom: 10px;
    border-bottom: 4px solid black;
    position: inherit;  
    height: 0px;
  }
  
  .field {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .field input {
    width: 50%;
    margin-left: 50%;
    margin: 0 auto;
    padding: 10px;
  }

  /* --------------------------- */

  .my-pastes {
    margin-top: 10px;
  }
  .public-pastes {
    margin-top: 10px;
    /* display: block; */
  }
  
  .div-block {
    display: inline-block;
  }
  
  .paste-obj {
    display: flex;
    justify-content: space-between;
    background-color: #404358;
    border: 5px solid rgb(148, 147, 146);
    width: 400px;
    margin-bottom: 5px;
  }
  /* <i class="fas fa-fire-alt"></i>
    <i class="fas fa-lock"></i> */
  
  .paste-obj .features i {
    display: block;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .fa-fire-alt {
    background: -webkit-linear-gradient(#ffec05, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: linear-gradient(
      0deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 236, 5, 1) 100%
    );
  }
  
  .fa-lock {
    color: #020024;
  }
  
  .features {
    padding-top: 7px;
  }
  
  .public-pastes span {
    color: black;
  }
  .public-pastes a {
    color: rgb(148, 146, 146);
  }