body {
    background: linear-gradient(0deg, rgba(22,27,55,1) 0%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    max-width: 100vh;
  
    grid-template-columns: 50% 50% 50%;
    font-size: 20px;
    color: white;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
  }

